* {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;

}
#nintendo {
  /* centramos verticalmente la patata */
  position: relative;

  margin: 0 auto;
  /* fin centrar verticalmente la patata */
  top: 5em;

}

.cuerpo {
  position: relative;

  margin: 0 auto;
  border: thin solid green;
  height: 20em;
  width: 30em;
  background-color: white;
  border-radius: 0.5em;
}

#medio {
  position: relative;

  margin: 0 auto;
  background-color: white;
  height: 3em;
  width: 30em;
  border: thin solid green;
  border-radius: 0.5em;
}


.pantalla {
  position: relative;
  margin: 0 auto;
  background-color: black;
  width: 19em;
  top: 1em;
  bottom: 1em;
  height: 18em;
  border: 1px solid black;
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;

}


.bordeB {
  position: absolute;
  width: 18.8em;
  height: 17.8em;
  border: 1em solid white;
}

.sonido {
position: absolute;
top: 6em;

height: 3em;
width: 5em;
z-index: 3;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 6px;
grid-auto-rows: 12px 20px;
}
.derecha {
  position: absolute;
  right: -1px;
}
.izquierda {
  position: absolute;
  left: -1px;
}

.puntos {
  border-radius:50%;
  width: 5px;
  height: 5px;
  background: black;
  margin-left: 0.5em;
  margin-top: 0.8em;
}

.cuadrados {
width: 8px;
height: 8px;
background: lightgray;
top: 0.7em;
}

.cuadrados1 {
width: 8px;
height: 8px;
background: lightgray;
bottom: 0.7em;
}

.derecha1 {
  position: absolute;
  right: 40px;
}
.izquierda1 {
  position: absolute;
  left: 40px;
}

.botones {
  position: relative;

  height: 5em;
  width: 5em;
  top: 6em;
}

.derecha2 {
  position: absolute;
  right: 0em;
}
.izquierda2 {
  position: absolute;
  left: 0.3em;

  }
.boton {
     width: 22px;
     height: 22px;
     border: 1px solid lightgray;
     background: white;
     border-radius: 6em;
     align-items: center;

     display: flex;

     justify-content: center;
}

#bX{
  position: absolute;
  left: 1.5em;
  top: 0.5em;
}
#bY{
  position: absolute;
  left: 0.3em;
  top: 1.8em;
}
#bA{
  position: absolute;
  left: 2.7em;
  top: 1.8em;
}
#bB{
  position: absolute;
  left: 1.5em;
  bottom: 0.5em;
}

#puntero {
  width: 16.8em;
  height: 16em;
  cursor: url(imagenes/guante.png), pointer;
}

.cruzV {
  position: absolute;
  top: 28px;
  left: 0.5em;
  width: 60px;
  height: 23px;
  border: 3px solid grey;
}

.cruzH {
  position: absolute;
  top: 0.6em;
  left: 26px;
  width: 23px;
  height: 60px;
  border: 3px solid grey;
}

#H {
  position: relative;
  top: 1.1em;
  left: -4px;
  width: 30px;
  height: 20px;
  background-color: white;
}

#V {
  position: relative;


  left: 18px;
  top: -4px;
  width: 17px;
  height: 30px;
  background-color: white;
}

#LINEA1 {
  position: absolute;
  width: 3px;
  height: 1em;
  background-color: grey;
  left: 7px;
  top: 3px;
  border-radius: 6em;
  z-index: 3;
}

#LINEA2 {
  position: absolute;
  width: 3px;
  height: 1em;
  background-color: grey;
  left: 7px;
  bottom: 3px;
  border-radius: 6em;
  z-index: 3;
}

#LINEA3 {
  position: absolute;
  width: 1em;
  height: 3px;
  background-color: grey;
  left: 3px;
  bottom: 7px;
  border-radius: 6em;
  z-index: 3;
}

#LINEA4 {
  position: absolute;
  width: 1em;
  height: 3px;
  background-color: grey;
  right: 3px;
  bottom: 7px;
  border-radius: 6em;
  z-index: 3;
}
