* {
  box-sizing: border-box;
}

.fondo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background-color: lightgrey;
  border: thin solid gray;

  z-index: -3;
}
#nintendo {
  /* centramos verticalmente la patata */
  position: relative;

  margin: 0 auto;
  /* fin centrar verticalmente la patata */
  top: 5em;

}

.cuerpo {
  position: relative;

  margin: 0 auto;
  border: thin solid green;
  height: 20em;
  width: 30em;
  background-color: white;
  border-radius: 0.5em;
}

#medio {
  position: relative;

  margin: 0 auto;
  background-color: white;
  height: 3em;
  width: 30em;
  border: thin solid green;
  border-radius: 0.5em;
}

.pantalla {
  position: absolute;
  margin: 0 auto;
  background-color: black;
  width: 20em;
  left: 50px;
  right: 50px;
  top: 1em;
  bottom: 1em;
  height: 18em;
}

.sonido {
position: absolute;
top: 6em;
border: thin solid green;
height: 3em;
width: 5em;
z-index: 3;
}
.derecha {
  position: absolute;
  right: -1px;
}
.izquierda {
  position: absolute;
  left: -1px;
}
