* {
  box-sizing: border-box;
}

.fondo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background-color: lightgrey;
  border: thin solid gray;

  z-index: -3;
}

.cuerpo {
    /* centramos verticalmente la patata */
  position: relative;

  margin: 0 auto;
  /* fin centrar verticalmente la patata */
  border: thin solid green;
  height: 30em;
  width: 30em;
  top: 5em;
  background-color: white;
  border-radius: 1em;
}

#camara {
  
}
